<!DOCTYPE HTML>
<html>
<head>
    <title>DevBeginner Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dist/css/lib.css" />
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.eot"  type="application/vnd.ms-fontobject"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.svg"  type="image/svg+xml"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.ttf"  type="application/x-font-ttf"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.woff"  type="application/font-woff"/>
    <link rel="stylesheet" href="/dist/fonts/glyphicons-halflings-regular.woff2"  type="application/font-woff2"/>
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="subject">제목</label>
                <input type="text" class="form-control" id="subject" placeholder="X월 Y주차 뉴스레터" value="[초보개발자모임] 2018년 1월 3주차 뉴스레터"/>
            </div>
            <button type="button" class="btn btn-default" id="btn-save">저장</button>
        </form>
        <br>
        <br>
        <form>
            <div class="form-group">
                <label for="letter-id">뉴스레터 ID</label>
                <input type="text" class="form-control" id="letter-id" placeholder="방금 저장한 메일 ID"/>
            </div>
            <button type="button" class="btn btn-success" id="btn-send">발송</button>
            <button type="button" class="btn btn-success" id="btn-test-send">테스트 유저 발송</button>
        </form>
        <br>
        <br>
        <form>
            <div class="form-group">
                <label for="letter-id">뉴스레터 ID</label>
                <input type="text" class="form-control" id="target-letter-id" placeholder="방금 저장한 메일 ID"/>
                <label for="letter-id">유저 Email</label>
                <input type="text" class="form-control" id="target-email" placeholder="Email"/>
            </div>
            <button type="button" class="btn btn-success" id="btn-target-send">발송</button>
        </form>

    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>등록일</th>
                    <th>제목</th>
                    <th>바로가기</th>
                </tr>
                </thead>
                <tbody>
                {{#each contents}}
                    <tr>
                        <td><input type="checkbox" class="check-content" data-id="{{id}}"></td>
                        <td>{{id}}</td>
                        <td>{{createdDate}}</td>
                        <td>{{title}}</td>
                        <td>
                            <input type="button" class="btn-default" href="/content/{{id}}" value="바로가기">
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br/>

<script src="/dist/js/lib.js"></script>
<script>
    
    $('#btn-send').on('click', function () {
        var request = {
            letterId: $('#letter-id').val()
        };

        $.ajax({
            type: 'POST',
            url: '/letter/send',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(request)
        }).done(function(data) {
            alert(data+' 명에게 전송되었습니다.');
        }).fail(function (error) {
            alert(error);
        });
    });

    $('#btn-target-send').on('click', function () {
        var request = {
            letterId: $('#target-letter-id').val(),
            email: $('#target-email').val()
        };

        $.ajax({
            type: 'POST',
            url: '/letter/send',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(request)
        }).done(function(email) {
            alert(email+' 에게 전송되었습니다.');
        }).fail(function (error) {
            alert(error);
        });
    });

    $('#btn-test-send').on('click', function () {
        var request = {
            letterId: $('#letter-id').val()
        };

        $.ajax({
            type: 'POST',
            url: '/letter/send/test',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(request)
        }).done(function(data) {
            alert(data+' 글이 테스트 유저에게 전송되었습니다.');
        }).fail(function (error) {
            alert(error);
        });
    });
    
    $('#btn-save').on('click', function () {
        var subject = encodeURIComponent($('#subject').val());
        var contentIds = getCheckedValue('.check-content', 'id');

        var request = {
            subject: subject,
            contentIds: contentIds
        };

        $.ajax({
            type: 'POST',
            url: '/letter/save',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(request)
        }).done(function(data) {
            alert('ID: '+data+' 뉴스테러가 저장 되었습니다.');
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    });

    function getCheckedValue(key, dataKey) {
        var checkedValues = [];

        $(key+':checked').each(function () {
            checkedValues.push($(this).data(dataKey));
        });

        return checkedValues;
    }

</script>
</body>
</html>