<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:linen;height:100%!important;width:100%!important">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
        <tbody>
        <tr>
            <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:1px none #a1a2a5">
                    <tbody><tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding-top:9px">
                                        <table class="" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody class="">
                                            <tr>
                                                <td class="" style="padding-top:9px" valign="top">
                                                    <table style="max-width:100%;min-width:100%;border-collapse:collapse" class="Container" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                        <tr>
                                                            <td class="" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left" valign="top"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="" width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                                            <tbody class="">
                                            <tr>
                                                <td class="" valign="top"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:0;border-bottom:0">
                                <tbody>
                                <tr>
                                    <td valign="top" class="headerContainer">
                                        <table class="" style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody class="">
                                            <tr>
                                                <td class="" style="padding-top:9px" valign="top">
                                                    <table style="max-width:100%;min-width:100%;border-collapse:collapse" class="Container" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                        <tr>
                                                            <td class="" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left" valign="top">
                                                                <img src="https://s3.ap-northeast-2.amazonaws.com/devbeginner.com/%E1%84%87%E1%85%A9%E1%84%85%E1%85%A1%E1%84%89%E1%85%A2%E1%86%A81_400*70.png" style="width:150px;height:30px;margin:0 0 0 20px;border:0;outline:none;text-decoration:none" width="150" align="none" height="30">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody >
                                            <tr>
                                                <td  style="min-width:100%;padding:3px 18px 18px">
                                                    <table style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody><tr>
                                                            <td>
                                                                <span></span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;min-width:100%;background-color:#ffffff;border-top:1px none #cf3636;border-bottom:1px none">
                                <tbody>
                                <tr>
                                    <td valign="top">
                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody >
                                            <tr>
                                                <td style="padding-top:9px" valign="top">
                                                    <table style="max-width:100%;min-width:100%;border-collapse:collapse"  width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                        <tr>
                                                            <td style="padding:0px 18px 9px;color:#000000;font-size:14px;font-weight:normal;line-height:200%;font-family:Helvetica;text-align:left" valign="top">
                                                                <div style="margin:0 20px">
                                                                    {{#each posts}}
                                                                        <div class="post">
                                                                            <strong>
                                                                                <a href="{{link}}" style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" >
                                                                                    {{{title}}}
                                                                                </a>
                                                                            </strong>
                                                                            <br>
                                                                            <span style="font-size:15px">
                                                                                <a href="{{link}}" target="_blank" alt="k3" style="max-width:100%;width:100%;padding-bottom:0;display:inline;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none;padding:10px 0" border="0">
                                                                                    <img width="662" src="{{img}}" style="max-width:100%;width:100%;padding-bottom:0;display:inline;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none;padding:10px 0" border="0">
                                                                                    <span style="color:#696969;text-align:justify">
                                                                                        {{{content}}}
                                                                                    </span>
                                                                                </a>
                                                                            </span>
                                                                        </div>
                                                                        <p style="margin:1em 0;padding:0;color:#777d86;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left"></p>
                                                                    {{/each}}

                                                                    <br><br><br>
                                                                    <div>
                                                                        <strong>
                                                                            <span style=" font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none;text-decoration:underline">좀 더 다양하고 자세한 소식을 받는 방법!</span>
                                                                        </strong>
                                                                        <br><br>
                                                                        <div style="font-size:15px;max-width:100%;width:100%;padding-bottom:0;display:inline;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none;padding:10px 0">
                                                                            ✔︎ 실시간으로 소식을 받을수 있는
                                                                            <br>
                                                                            <a style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" href="https://www.facebook.com/devbeginner/">페이스북 페이지</a>

                                                                            <br><br>
                                                                            ✔︎ jojoldu 만의 이야기가 있는
                                                                            <br>
                                                                            <a style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" href="http://jojoldu.tistory.com/">티스토리</a>
                                                                            &
                                                                            <a style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" href="https://brunch.co.kr/@jojoldu">브런치</a>

                                                                            <br><br>
                                                                            ✔︎ 주니어 개발자 채용 정보를 다루는
                                                                            <br>
                                                                            <a style="font-size:20px;text-align:justify;word-wrap:break-word;color:#2d6594;font-weight:normal;text-decoration:none" target="_blank" href="https://github.com/jojoldu/junior-recruit-scheduler">Github</a>
                                                                            <br>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>